/*  CSS RESET
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    display: flex;
    width: 1440px;
    height: 1024px;
    align-items: stretch;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY OWN CODE */

/* Without this reset style, my own focus style doesn't work */
*:focus {
    outline: none;
}

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.left-container {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 200px;
}

.right-container {
    flex: 2 1 200px;
    background-color: #F8F9FA;
}

.logo-band {
    margin-top: 40%;
    background-color: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.logo-band img {
    width: 100px;
}

.logo-text {
    font-family: norse-bold, sans-serif;
    color: #fff;
    font-size: 100px;
    margin-top: 25px;
}

.image-credits {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.image-credits a, a:visited {
    color: #fff;
}

.right-container p:first-child {
    margin-top: 180px;
}

.right-container p {
    padding-left: 40px;
}

.right-container a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.descript, .caption, legend {
    font-size: 24px;
    font-weight: 500;
}

.descript {
    line-height: 30px;
}

em {
    font-style: italic;
}

.caption {
    margin-top: 40px;
}

.form-div {
    width: 100%;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px -6px rgb(98, 96, 96);
}

legend {
    flex-basis: 100%;
    margin-bottom: 40px;
}

.left-form {
    margin-right: 80px;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.85);
    display: block;
}

input {
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 5px;
    background-color: #FFFEFE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    color: #000;
}

input:focus {
    border-color: #7380D9;
    box-shadow: 1px 1px 1px 1px rgb(203, 202, 202);
}

button {
    margin: 40px;
    padding: 15px 50px;
    background-color: #596D48;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.error {
    border-color: rgb(196, 62, 62);
}

.error-msg {
    color: rgb(196, 62, 62);
    margin-top: -20px !important;
    margin-left: -40px;
    font-size: 13px;
}